<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <style>
    form {text-align: center;
    padding-top: 100px;

    }
    </style>
        <form action="index" method="GET">
               
                name:
                <input type="text" name="user" required/></br></br>
                company_name:
                <input type="text" name="cname" required/></br></br>
                Type:
                <input type="text" name="cost" required/></br></br>
                
                
                <input type="submit" name="submit"/>
                </form>
                
</body>
</html>