<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <aside>


<div><a href="http://127.0.0.1:8000/welcomeapp/upda?name='name' & update cname='cname'">dsfffdf</a></div>
<style>
        table{
            text-align: center;
            border: 2px solid;
            padding: 10px;
            
    
        }
        td{
            border: 2px solid;
            padding: 10px;
        }
        th{
            color: red;
            font-size: 19px;
            border: 2px solid;
            padding: 10px;
        }
        </style>
        <table>
    
               
        
                <tr>
                        <th>name</th>
                        <th>cname</th>
                        <th>cost</th>
                </tr>
                {% for stu in studentData %}
                <tr>
            
                        <td>{{stu.name}}</td>
                        <td>{{stu.cname}}</td>
                        <td>{{stu.cost}}</td>
                </tr>  
            
                {% endfor %}
            
            </table>
    </aside>
</body>
</html>